 .footer {
    padding-top   : 70px;
    padding-bottom: 30px;
    background-color: #1c1c1c;
 }
 
 .footer .logo img {
    width        : 60%;
    margin-bottom: 1rem;
 }
 
 .footer .logo p {
    color    : white;
    font-size: 1rem;
 }
 
 .social__link span a {
    text-decoration: none;
    color          : white;
    font-size      : 1.5rem;
 }
 
 .footer__link-title {
    color        : chocolate;
    margin-bottom: 1rem;
 }

 .footer__quick-links{
   background-color: #1c1c1c !important;
 }
 
 .footer__quick-links li a {
    text-decoration: none;
    color          : white;
    font-size      : 1.2rem;
 }
 
 .footer__quick-links a:hover {
    color: #d2691e;
 }
 
 .footer__quick-links h6 span i {
    color    : white;
    font-size: 1.4rem;
 }
 
 .footer__quick-links h6 {
    margin-bottom: 1rem;
    color: white;
 }
 
 .footer__quick-links p {
   color: white;
    font-size: 1.2rem;
 }
 
 .copyright {
    color    : white;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
 }

 @media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 545px) {
   

   .footer{
       width:34rem;
   }
}

@media only screen and (max-width: 1024) {

   .footer{
   width: 200%;
   }
}